div{
    background-color: pink;
    margin-bottom: 5%;
    padding: 2%;
}
.titulo{
    color: brown;
}
.lab{
    color: blueviolet;
    box-shadow: inset;
}
button{
    background-color: chartreuse;
    font-size: larger;
    text-decoration: double;
}
button:hover{
    background-color: aquamarine;
}